
.site-footer {
  border-top: 1px solid #ece2d051;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.footer-left {
  flex: 1;
  font-size: 3rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  margin-left: 2rem;
  color: #ece2d0;
  padding-top: 0.5rem;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.2rem;
  width: 150px;
}

.footer-right {
  margin-right: 5rem;
  font-size: 1.5rem;
  color: #ece2d08a;
  padding-top: 2rem;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-icons svg {
  color: #ffffff;
  fill: currentColor;
  width: 40px;
  height: 40px;
  transition: color 0.3s ease;
  cursor: pointer;
  padding-left: 5px;
}

.footer-icons svg:hover {
  color: #97c9c5;
}

