.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: nowrap; 
  z-index: 999;
  box-sizing: border-box;
  transition: padding 0.3s ease;
}

.logo-container {
  display: flex;
  align-items: center; 
  gap: 20px; 
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  height: 100%; 
}

.logo-container:hover {
  color: #7692FF;
}

.site-name {
  font-size: 2.5vw;
  font-family: "Bebas Neue", sans-serif;
  transition: font-size 0.2s ease;
  text-decoration: none;
  line-height: 1; 
}

.logo {
  height: 2vw; 
  filter: grayscale(100%) brightness(150%);
  transition: filter 0.3s ease;
  vertical-align: middle; 
}

.logo-container:hover .logo {
  filter: brightness(0) saturate(100%) invert(45%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

/*  NAVIGATION  */

.header-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 5.5rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #ECE2D0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #7692FF;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #97c9c5;
}

.nav-link:hover::after {
  width: 100%;
}

/*  RESPONSIVE */

/* Medium Screens */
@media screen and (max-width: 992px) {
  .site-header {
    padding: 1.5rem 15px;
  }

  .site-name {
    font-size: 2rem;
  }

  .logo {
    height: 35px;
  }

  .nav-link {
    font-size: 1rem;
  }
}

/* Small Screens */
@media screen and (max-width: 600px) {
  .site-header {
    flex-direction: row; 
    justify-content: space-between; 
    padding: 1rem 10px; 
  }

  .logo-container {
    gap: 5px; 
  }

  .site-name {
    font-size: 1.2rem; 
  }

  .logo {
    height: 25px;
  }

  .header-right {
    gap: 1rem;
  }

  .nav-link {
    font-size: 0.95rem;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none;
}
